<main class="container">
    <section class="jumbotron" style="padding-top: 25px; padding-bottom: 25px;">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b><i>Sobre Nosotros</i></b></h5>
              <p class="card-text">Evolved Boutique es una tienda de moda que se dedica a ofrecer lo último en tendencias y estilos.
                Nuestra misión es ayudarte a expresar tu personalidad a través de la ropa y accesorios que ofrecemos.
                ¡Descubre un mundo de moda con Evolved Boutique!</p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../../../assets/about.jpg" class="img-fluid rounded-start" alt="Fuerza y Acondicionamiento">
          </div>
        </div>
      </div>
    </section>
  </main>
